:root {
  --gap-quarter: 0.25rem;
  --gap-half: 0.5rem;
  --gap: 1rem;
  --gap-double: 2rem;

  --bg: #fff;
  --fg: #000;
  --accents-1: #111;
  --accents-2: #333;
  --accents-3: #888;
  --geist-foreground: #000;

  --radius: 8px;

  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg);
  color: var(--fg);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-image: radial-gradient(#ddd 1px, transparent 1px),
    radial-gradient(#ddd 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-attachment: fixed;
  background-size: 50px 50px;

  /* Hack */
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  flex: 1 1;
}

.links {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

figure {
  font-size: 0.85rem;
  color: #999;
  line-height: 1.8;
}

.links {
  margin-top: var(--gap);
}

.title {
  text-align: center;
}

.logo :global(svg) {
  max-width: calc(100vw - var(--gap-double));
}

h1 {
  margin: var(--gap-double) 0 calc(0.5 * var(--gap)) 0;
  font-size: 2.25rem;
  font-weight: 800;
  letter-spacing: -0.05rem;
}

h2 {
  font-weight: 300;
  font-size: 1.25rem;
  letter-spacing: -0.02rem;
  color: var(--accents-3);
}

p {
  color: #555;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin: 1rem 0;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

a:hover {
  color: #3291ff;
}

button {
  background: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  h2 {
    font-size: 0.95rem;
    letter-spacing: 0;
  }
}

/* Grid */
.mainContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mainContainer.fluidContainer {
  max-width: none;
}

@media (min-width: 640px) {
  .mainContainer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .mainContainer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
